<phpunit
    backupGlobals="true"
    bootstrap="tests/bootstrap.php"
    cacheDirectory="var/cache/phpunit"
    processIsolation="true"
    executionOrder="depends,defects"
    colors="true"
    testdox="true"
    verbose="true"
    requireCoverageMetadata="true"
    beStrictAboutCoverageMetadata="true"
    beStrictAboutOutputDuringTests="false"
    beStrictAboutChangesToGlobalState="true"
    stopOnError="true"
    stopOnFailure="true"
    stopOnWarning="true"
    stopOnDeprecation="true"
    stopOnNotice="true"
    failOnEmptyTestSuite="true"
    failOnWarning="true"
    failOnRisky="true"
    failOnDeprecation="true"
    failOnPhpunitDeprecation="true"
    failOnNotice="true"
>
    <testsuites>
        <testsuite name="API Gateway: Cliente de API en PHP - Pruebas Unitarias.">
            <directory>tests</directory>
        </testsuite>
        <testsuite name="readonly">
            <file>tests/sii/ActividadesEconomicasTest.php</file>
            <file>tests/sii/ContribuyentesTest.php</file>
        </testsuite>
        <testsuite name="authneeded">
            <file>tests/sii/BheTest.php</file>
            <file>tests/sii/DteTest.php</file>
            <file>tests/sii/MiSiiTest.php</file>
        </testsuite>
    </testsuites>
    <filter>
        <whitelist>
            <directory suffix=".php">src</directory>
        </whitelist>
    </filter>
    <php>
        <ini name="memory_limit" value="-1" />
        <env name="APIGATEWAY_API_URL" value="https://apigateway.cl" />
        <env name="TEST_CONTRIBUYENTE_RUT" value="76192083-9" />
        <env name="TEST_PERIODO" value="202407" />
    </php>
</phpunit>
