<phpunit bootstrap="tests/bootstrap.php" colors="true" verbose="true">
    <testsuites>
        <testsuite name="API Gateway: Cliente de API en PHP - Pruebas Unitarias.">
            <directory>tests</directory>
        </testsuite>
    </testsuites>
    <filter>
        <whitelist>
            <directory suffix=".php">src</directory>
        </whitelist>
    </filter>
    <php>
        <ini name="memory_limit" value="-1" />
        <env name="APIGATEWAY_API_URL" value="https://apigateway.cl" />
        <env name="TEST_CONTRIBUYENTE_RUT" value="76192083-9" />
        <env name="TEST_PERIODO" value="202407" />
    </php>
</phpunit>
