<phpunit
    backupGlobals="true"
    bootstrap="tests/bootstrap.php"
    cacheDirectory="var/cache/phpunit"
    processIsolation="true"
    executionOrder="depends,defects"
    colors="true"
    testdox="true"
    requireCoverageMetadata="true"
    beStrictAboutCoverageMetadata="true"
    beStrictAboutOutputDuringTests="false"
    beStrictAboutChangesToGlobalState="true"
    stopOnError="true"
    stopOnFailure="true"
    stopOnWarning="true"
    stopOnDeprecation="true"
    stopOnNotice="true"
    failOnEmptyTestSuite="true"
    failOnWarning="true"
    failOnRisky="true"
    failOnDeprecation="true"
    failOnPhpunitDeprecation="true"
    failOnNotice="true"
>
    <source>
        <include>
            <directory suffix=".php">src</directory>
        </include>
    </source>
    <testsuites>
        <testsuite name="activ">
            <directory>tests/sii/actividades/</directory>
        </testsuite>
        <testsuite name="bhe-emit">
            <directory>tests/sii/bhe_emitidas</directory>
        </testsuite>
        <testsuite name="bhe-recib">
            <directory>tests/sii/bhe_recibidas</directory>
        </testsuite>
        <testsuite name="bte-emit">
            <directory>tests/sii/bte_emitidas</directory>
        </testsuite>
        <testsuite name="contrib">
            <directory>tests/sii/contribuyentes</directory>
        </testsuite>
        <testsuite name="dte">
            <directory>tests/sii/dte_emitidos</directory>
        </testsuite>
        <testsuite name="indicadores">
            <directory>tests/sii/indicadores</directory>
        </testsuite>
        <testsuite name="misii">
            <directory>tests/sii/misii</directory>
        </testsuite>
        <testsuite name="mipyme">
            <directory>tests/sii/portal_mipyme</directory>
        </testsuite>
        <testsuite name="mipyme-dte-emi">
            <directory>tests/sii/portal_mipyme_dte_emit</directory>
        </testsuite>
        <testsuite name="mipyme-dte-rec">
            <directory>tests/sii/portal_mipyme_dte_recib</directory>
        </testsuite>
        <testsuite name="rcv">
            <directory>tests/sii/rcv</directory>
        </testsuite>
    </testsuites>
    <coverage
        ignoreDeprecatedCodeUnits="true"
        pathCoverage="true"
    >
        <report>
            <text
                outputFile="var/tests-coverage.txt"
                showUncoveredFiles="true"
            />
            <clover outputFile="var/tests-coverage.xml" />
        </report>
    </coverage>
    <logging>
        <testdoxText outputFile="var/tests-testdox.txt"/>
    </logging>
    <php>
        <ini name="memory_limit" value="-1" />
        <env name="APIGATEWAY_API_URL" value="https://apigateway.cl" />
        <env name="TEST_CONTRIBUYENTE_RUT" value="76192083-9" />
    </php>
</phpunit>
